<div class="container all d-flex col-6">

  <div class="question d-flex text-start justify-content-center">
    <div class="photo">
       <img src="https://media.giphy.com/media/y4E6VumnBbIfm/giphy.gif" alt="" style="width: 100px; height: 100px;">
    </div>

    <div class="my_question">
      <h1>Need an advice?</h1>
      <form action="/answer" method="get" class="d-flex">
        <input class="form-control" type="text" name="question" placeholder="Ask computer a question...">
        <input type="submit" class="btn btn-dark" value="Ask!">
      </form>
    </div>
  </div>
</div>
