// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import url('https://fonts.googleapis.com/css2?family=DM+Mono&family=Gloria+Hallelujah&display=swap');

h1 {
color: black;
font-family: 'DM Mono', monospace;
font-size: 72px;
 }

h2 {
  display: flex;
  justify-content: left;
  font-family: 'DM Mono', monospace;
  font-size: 24px;
  text-align:left;
}

h3 {
  font-family: 'Gloria Hallelujah', cursive;
  color: white;
  font-size:16px;
  text-align: left;
}

form {
  margin-bottom: 24px;
}

.btn {
  margin-left: 12px;
}

.photo {
  margin-right: 32px;
}

.answer {
  margin-left: 20px;
}
.all{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}



.coach-answer{
  height: 174px;
}


.bubble {
  background-color: black;
  height:136px;
  width: 320px;
  margin-top: 16px;
  border-radius: 4px 12px 12px 12px;
  padding: 20px;
}
